{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid main-wrap w-100 ">
        <div class="row main-container mx-auto">
            <div class="col index-container text-center my-auto">
                <h1 class="index-logo my-auto">SimRacing School!</h1>
                <p class="my-auto index-shadow">Weekly setups, track guides, driver coaching at one place.</p>
            </div>
        </div>
    </div>

    <!-- Info bar -->
    <div class="container-fluid bg-primary w-100">
        <div class="row info-bar bg-primary text-center text-white ">
            <div class="col-sm-6 col-md-4 col-lg-2 my-auto px-0">
                <span class="info-number">19,000+</span>
                <p class="initialism">Laps Lead</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 my-auto px-0">
                <span class="info-number">3,400+</span>
                <p class="initialism">Top 5's</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 my-auto px-0">
                <span class="info-number">1,350+</span>
                <p class="initialism">Races Won</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 my-auto px-0">
                <span class="info-number">1,100+</span>
                <p class="initialism">Pole Positions</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 my-auto px-0">
                <span class="info-number">6</span>
                <p class="initialism">Pro Drivers</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 my-auto px-0">
                <span class="info-number">1</span>
                <p class="initialism">Goal</p>
            </div>
        </div>   
    </div>

    <!-- Packages Promo Silver Package-->
    <div class="container-fluid silver" id="packages">
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 col-md-4 mx-auto my-auto">
                <h3 class="text-uppercase text-muted text-center">The Silver Package!</h3>
                <hr>
                <ul>
                    <li>The Silver Package is the starter plan for beginners to help improove your driving in iRacing.</li>
                    <li>Get an access to your selected car (i.e. Dallara P217 lmp2).</li>
                    <li>Included with our Silver Package:</li>
                        <ul>
                            <li>Professional setups for the current tracks of the iRacing Calendar.</li>
                            <li>Hotlap Videos with cockpit view for every track, including throttle and break inputs.</li>
                        </ul>
                    <li>The package gives you access to your selected datapack for 30 days.</li>
                    <li>No subscriptions for better budget managing.</li>
                </ul>    
            </div>
            <div class="col-sm-12 col-md-4 mx-auto">
                <div class="card mx-auto package-list">
                    <ul class="list-group list-group-flush mt-0">
                        <li class="list-group-item text-center bg-silver border-0">
                            <h4 class="card-title">Silver Package <small>30 day</small></h4>
                            <p class="card-text">For beginner drivers, give access for 30 days to a single car and setup weekly.</p>
                        </li>
                        <li class="list-group-item text-center bg-silver pt-3 pb-4"><span class="price-tag-silver">£4.99</span></li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Pick One Car And Race</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Single Car Access</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Hotlap Video</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Weekly Setup Files</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Basic Setup Tutorials</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Join Discord Community</li>
                    </ul>
                    <div class="card-footer text-center">
                        <a href="{% url 'packages' %}" class="btn btn-outline-primary px-3">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2 my-auto mx-auto pt-1 d-none d-lg-block">
                <img class="img-fluid" src="{{ MEDIA_URL }}/silver.png">
            </div>
        </div>
    </div>

    <!-- Packages Promo Gold Package -->
    <div class="container-fluid bg-grey gold">
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 col-md-4 col-lg-2 my-auto mx-auto d-none d-lg-inline">
                <img class="pl-2 img-fluid" src="{{ MEDIA_URL }}/gold.png">
            </div>
            <div class="col-sm-12 col-md-4 mx-auto mb-3">
                <div class="card mx-auto package-list">
                    <ul class="list-group list-group-flush mt-0">
                        <li class="list-group-item text-center bg-gold border-0">
                            <h4 class="card-title">Gold Package <small>30 day</small></h4>
                            <p class="card-text">For the pro drivers, give access for 30 days to all cars and setups weekly.</p>
                        </li>
                        <li class="list-group-item text-center bg-gold pt-3 pb-4"><span class="price-tag-gold">£9.99</span></li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Silver Package included</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Weekly Replay File</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Weekly Ghost Lap Files</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Access All Cars / Series</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Weekly Track Guides</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Inclusive Group Coaching Sessions</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Added Discord Q &amp; A Section</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Discounts on 1 to 1 Sessions</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Software and Setup Tutorials</li>
                    </ul>
                    <div class="card-footer text-center">
                        <a href="{% url 'packages' %}" class="btn btn-outline-primary px-3">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-6  my-auto mx-auto">
                <h3 class="text-uppercase text-muted text-center mt-sm-5">The Gold Package!</h3>
                <hr>
                <ul>
                    <li>The Gold Package is the perfect plan for all the sim-racing enthusiast who is looking for the last tenths where they can improove their driving.</li>
                    <li>Get instant access to all cars and setups.</li>
                    <li>Included with our Gold Package:</li>
                        <ul>
                            <li>Silver Package.</li>
                            <li>Weekly replay and ghost lap files.</li>
                            <li>Detailed weekly track guides.</li>
                            <li>Inclusive group coaching sessions. (Every Thuesday 19:00 GMT, iRacing Hosted Session.)</li>
                            <li>Discounts on our 1 to 1 Sessions.</li>
                        </ul>
                    <li>Gold package give access for all datapacks for 30 days.</li>
                    <li>No subscriptions for better budget managing.</li>
                </ul>    
            </div>
        </div>
    </div>

    <div class="container-fluid w-100" >
        <div class="row bg-primary" style="height: 300px;">
            <div class="col text-center text-white my-auto">
                <h1>Get your iRacing Setups Today</h1>
                <span>Don't hesitate, whether you're a sim or real racer, join today, learn, prepare &amp; perform tomorrow</span>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row text-center pic-banner">
            <div class="col-sm-12 col-md-4 my-auto pt-4">
                <a href="{% url 'crewchief' %}" target="_blank">
                    <img class="img-fluid" src="{{ MEDIA_URL }}/crewchief.jpg" alt="Crew Chief logo">
                </a>
            </div>
            <div class="col-sm-12 col-md-4 my-auto pt-4">
                <a href="{% url 'iracing' %}" target="_blank">
                    <img class="img-fluid" src="{{ MEDIA_URL }}/iracinglogo.png" alt="iRacing.com logo">
                </a>
            </div>
            <div class="col-sm-12 col-md-4 my-auto pt-4">
                <a href="{% url 'tradingpaints' %}" target="_blank">
                    <img class="img-fluid" src="{{ MEDIA_URL }}/tradingpaints.png" alt="TradingPaints logo">
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey mt-3">
        <div class="row pb-3 mx-auto ad-bar text-sm-center text-md-left">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="row mt-4">
                    <div class="col-sm-2 my-auto bg-dark text-white icon icon-big">
                        <i class="fas fa-exclamation-triangle big"></i>
                    </div>
                    <div class="col-sm-10">
                        <h4>Setups from top drivers</h4>
                        <span>
                            We provide <strong>great setups</strong> for the most popular cars on iRacing! Find all cars 
                            <a href="{% url 'packages' %}">here.</a>
                        </span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-2 my-auto bg-dark text-white icon icon-big">
                        <i class="far fa-file big"></i>
                    </div>
                    <div class="col-sm-10">
                        <h4>Delta Time Files</h4>
                        <span>Race live against our sector times and <strong>immediately see</strong> where you are losing time!</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="row mt-4">
                    <div class="col-sm-2 my-auto bg-dark text-white icon icon-big">
                        <i class="fas fa-film big"></i>
                    </div>
                    <div class="col-sm-10">
                        <h4>Track guide videos</h4>
                        <span>See the <strong>perfect line</strong> and the optimal throttle and break inputs.</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-2 my-auto bg-dark text-white icon icon-big">
                        <i class="fas fa-user-friends big"></i>
                    </div>
                    <div class="col-sm-10">
                        <h4>Inclusive Coaching Sessions</h4>
                        <span>Every week <strong>we host multiple sessions</strong> where members can join the coaches and take advantage of our group coaching sessions.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-primary join-us">
        <div class="row pt-sm-4 pt-md-5">
            <div class="col-sm-12 col-md-8 text-center text-white">
                <h3>
                    No more baseline setups with Us!
                </h3>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <a href="{% url 'packages' %}" class="btn btn-outline-light" role="button">Join Us Now!</a>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    <!-- Background animation -->
    <script type="text/javascript">
        const mainWrap = $('.main-wrap');

        const backgrounds = new Array(
            'url(https://ci-ms4-simracing-school.s3.eu-west-2.amazonaws.com/media/season4-breaker.jpg)',
            'url(https://ci-ms4-simracing-school.s3.eu-west-2.amazonaws.com/media/wheel-finishes-1.jpg)',
            'url(https://ci-ms4-simracing-school.s3.eu-west-2.amazonaws.com/media/porsche-cup.png)',
            'url(https://ci-ms4-simracing-school.s3.eu-west-2.amazonaws.com/media/dallara-p217.jpg)'
        );

        let current = 0;

        function nextBackground(){
            current ++;
            current = current % backgrounds.length;
            mainWrap.css('background', backgrounds[current]);
            mainWrap.css('background-size', 'cover');
            mainWrap.css('transition-timing-function', 'ease-in-out');
            mainWrap.css('transition', '3s');
        }
        setInterval(nextBackground, 9500);

        mainWrap.css('background', backgrounds[0]);
        mainWrap.css('background-size', 'cover');
    </script>
{% endblock %}