{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col index-container">
                <h1 class="display-4 index-logo">SimRacing School!</h1>
                <p class="text-white">Weekly setups, track guides, driver coaching at one place.</p>
            </div>
        </div>
    </div>
{% endblock %}