{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid main bg-grey">
    <div class="container">
        <h2 class="text-center">Contact us</h1>
        <hr class="w-75">
        <div class="div">
            <div class="col-10 mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-actions text-center">
                        <button class="btn btn-outline-primary px-5" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}