{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid main bg-grey">
    <div class="container">
        <h1>Contact us</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}