<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link show highlight" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link show highlight" href="{% url 'packages' %}">Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link show highlight" href="{% url 'products' %}">Series / Cars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link show highlight" href="#">Data packs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link show highlight" href="#">Driver Coaching</a>
        </li>
        <li class="nav-item">
            <a class="nav-link show highlight" href="{% url 'faqs' %}">F.A.Q.</a>
        </li>
        <li class="nav-item">
            <a class="nav-link show highlight" href="{% url 'contact' %}">Contact Us</a>
        </li>
    </ul>
</div>
