{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_title %}500 Error Page{% endblock %}

{% block content %}
<div class="container-fluid main bg-grey">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Oppps Something went wrong.</h1>
            <p class="lead">Http 500 error</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Back to the Site</a>
          </div>
    </div>
</div>

{% endblock %}