{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        <!-- Bootstrap CSS -->
        {% block corecss %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">        
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        <!-- JavaScript -->
        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/b6c120cd7f.js" crossorigin="anonymous"></script>
            <!-- Stripe JS files -->
            <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
            <script src="https://js.stripe.com/v3/"></script>
            {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>SimDriver School {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Page header -->
        <header class="container-fluid fixed-top w-100">

            <!-- Site navigation  -->
            <div id="topnav" class="row bg-light pt-lg-2 d-none d-lg-flex">

                <!-- Brand logo -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link text-black">
                        <h2>SimRacing School</h2>
                    </a>
                </div>

                <!-- Search form -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control search-border" type="text" name="q" placeholder="Search our packages: 'imsa', 'porsche', 'lmp' etc.">
                            <div class="input-group-append bg-primary rounded-right">
                                <button class="form-control btn" type="submit">
                                    <span class="icon text-white">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Profile and cart -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        
                        <!-- User profile menu -->
                        <li class="list-inline-item dropdown">
                            <a class="text-black text-center nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                        <a href="{% url 'add_datapack' %}" class="dropdown-item">Datapack Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>

                        <!-- Shopping cart -->
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            £{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> 
            <div class="row bg-dark">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>           
        </header>

        <!-- Messages block -->
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="w-100">
            <div class="row  text-center">
                <div class="col-sm-4 my-auto">
                    <ul class="list-block quick-links">
                        <li class="">Quick links:</li>
                        <li class="">
                            <a class=" py-0" href="{% url 'packages' %}">Packages</a>
                        </li>
                        <li class="">
                            <a class=" py-0" href="{% url 'faqs' %}">F.A.Q.s</a>
                        </li>
                        <li class="">
                            <a class=" py-0" href="{% url 'contact' %}">Contact Us</a>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-4">
                    <table class="copy text-center">
                        <tbody>
                            <tr>
                                <td class="align-bottom text-uppercase">This site is created for educational purposes only!</td>
                            </tr>
                            <tr>                                
                                <td class="align-bottom ">2020 &copy; Krisztian Keseru</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4 my-auto">
                    <ul class="list-inline">
                        <li>Follow us at:</li>
                        <li class="list-inline-item mt-2">
                            <a href="{% url 'facebook' %}" class="text-white social facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'instagram' %}" class="text-white social instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'twitter' %}" class="text-white social twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        {% endblock %}
    </body>
</html>