{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid main bg-grey">
    <div class="container">
        <!-- Horizontal divider -->
        <h2 class="text-center">Packages</h2>
        <h5 class="text-center mb-4">Choose one of our package</h5>
        <div class="row"><div class="col"><hr></div></div>

        <div class="row mx-auto mb-5">
            <div class="col-sm-12 col-md-6 mx-auto">
                <div class="card mx-auto" style="width: 25rem;">
                    <ul class="list-group list-group-flush mt-0">
                        <li class="list-group-item text-center bg-silver border-0">
                            <h5 class="card-title">Silver Package</h5>
                            <p class="card-text">For beginner drivers, give access to a single car and setup weekly.</p>
                        </li>
                        <li class="list-group-item text-center bg-silver pt-3 pb-4"><span class="price-tag-silver">£4.99</span> /mo.</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Pick One Car And Race</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Single Car Access</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Hotlap Video</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Weekly Setup Files</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Basic Setup Tutorials</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Join Discord Community</li>
                    </ul>
                    <div class="card-footer text-center">
                        <a href="{% url 'products' %}" class="btn btn-outline-primary px-3">Choose Your Car</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-6 mx-auto">
                <div class="card mx-auto" style="width: 25rem;">
                    <ul class="list-group list-group-flush mt-0">
                        <li class="list-group-item text-center bg-gold border-0">
                            <h5 class="card-title">Gold Package</h5>
                            <p class="card-text">For the pro drivers, give access to all cars and setups weekly.</p>
                        </li>
                        <li class="list-group-item text-center bg-gold pt-3 pb-4"><span class="price-tag-gold">£9.99</span> /mo.</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Silver Package included</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Weekly Replay File</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Weekly Ghost Lap Files</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Access All Cars / Series</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Weekly Track Guides</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Inclusive Group Coaching Sessions</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Added Discord Q &amp; A Section</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Discounts on 1 to 1 Sessions</li>
                        <li class="list-group-item pt-2 pb-2"><i class="fas fa-check text-green pr-2"></i>Software and Setup Tutorials</li>
                    </ul>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-outline-success px-3">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}