{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid main bg-grey py-4">
    <h2 class="text-center">Please Select Your Series and Car</h2>
    <hr class="w-75">
    <div class="row mx-auto">
        <div class="col-sm-12 col-md-3">
            <div class="list-group" id="list-tab" role="tablist">
                {% for cat in categories %}
                    {% if cat.name == 'gold_package' %}
                        <a class="list-group-item list-group-item-action d-none" id="list-{{ cat.name }}-list" data-toggle="list" 
                            href="#list-{{ cat.name }}" role="tab" aria-controls="{{ cat.name }}">All Cars</a>
                    {% else %}
                        <a class="list-group-item list-group-item-action" id="list-{{ cat.name }}-list" data-toggle="list" 
                            href="#list-{{ cat.name }}" role="tab" aria-controls="{{ cat.name }}">{{ cat.friendly_name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="tab-content" id="nav-tabContent">
                
                <!-- Tab for the GT3 Sprint series -->
                <div class="tab-pane fade show" id="list-gt3_sprint" role="tabpanel" aria-labelledby="list-gt3_sprint-list">
                    <div class="row w-25 mx-auto">
                        <div class="col ">
                            <img src="{{ MEDIA_URL }}/series/gt-sprint.jpg" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain" alt="gt3 sprint logo">
                        </div>
                    </div>
                    <hr>
                    <div class="accordion w-100" id="accordionExample">
                        {% for product in gt3_sprint %}
                            <div class="card w-100 mb-1 mb-lg-0">                      
                                <div class="row">
                                    <div class="col-sm-12 col-md-3" style="max-height: 75px;">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-6 my-auto text-sm-center text-md-left">
                                        <span class="font-weight-bold">{{ product.name }}</span><br>
                                        <small>iRacing Series: {{ product.description }}</small>
                                    </div>
                                    <div class="col-sm-12 col-md-3 my-auto text-center text-md-right">
                                        <a href="{% url 'setup_detail' product.id %}" class="btn btn-outline-primary mr-2 my-2">
                                            Datapacks <i class="fas fa-arrow-alt-circle-right d-sm-none d-md-inline"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Tab for the IMSA series-->
                <div class="tab-pane fade show" id="list-imsa_series" role="tabpanel" aria-labelledby="list-imsa_series-list">
                    <div class="row w-25 mx-auto">
                        <div class="col ">
                            <img src="{{ MEDIA_URL }}/series/imsa.jpg" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain" alt="imsa logo">
                        </div>
                    </div>
                    <hr>
                    <div class="accordion w-100" id="accordionExample">
                        {% for product in imsa %}
                            <div class="card w-100 mb-1 mb-lg-0">                      
                                <div class="row">
                                    <div class="col-sm-12 col-md-3" style="max-height: 75px;">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-6 my-auto text-sm-center text-md-left">
                                        <span class="font-weight-bold">{{ product.name }}</span><br>
                                        <small>iRacing Series: {{ product.description }}</small>
                                    </div>
                                    <div class="col-sm-12 col-md-3 my-auto text-center text-md-right">
                                        <a href="{% url 'setup_detail' product.id %}" class="btn btn-outline-primary mr-2 my-2">
                                            Datapacks <i class="fas fa-arrow-alt-circle-right d-sm-none d-md-inline"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Tab for the IMSA Michelin pilot challage -->
                <div class="tab-pane fade show" id="list-imsa_michelin" role="tabpanel" aria-labelledby="list-imsa_michelin-list">
                    <div class="row w-25 mx-auto">
                        <div class="col ">
                            <img src="{{ MEDIA_URL }}/series/imsa-michelin.jpg" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain" alt="{{ product.category.name }}">
                        </div>
                    </div>
                    <hr>
                    <div class="accordion w-100" id="accordionExample">
                        {% for product in imsa_michelin %}
                            <div class="card w-100 mb-1 mb-lg-0">                      
                                <div class="row">
                                    <div class="col-sm-12 col-md-3" style="max-height: 75px;">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-6 my-auto text-sm-center text-md-left">
                                        <span class="font-weight-bold">{{ product.name }}</span><br>
                                        <small>iRacing Series: {{ product.description }}</small>
                                    </div>
                                    <div class="col-sm-12 col-md-3 my-auto text-center text-md-right">
                                        <a href="{% url 'setup_detail' product.id %}" class="btn btn-outline-primary mr-2 my-2">
                                            Details <i class="fas fa-arrow-alt-circle-right d-sm-none d-md-inline"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Tab for the iRacing LeMans series -->
                <div class="tab-pane fade show" id="list-ilms" role="tabpanel" aria-labelledby="list-ilms-list">
                    <div class="row w-25 mx-auto">
                        <div class="col ">
                            <img src="{{ MEDIA_URL }}series/ilms.jpg" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain" alt="ilms logo">
                        </div>
                    </div>
                    <hr>
                    <div class="accordion w-100" id="accordionExample">
                        {% for product in ilms %}
                            <div class="card w-100 mb-1 mb-lg-0">                      
                                <div class="row">
                                    <div class="col-sm-12 col-md-3" style="max-height: 75px;">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-6 my-auto text-sm-center text-md-left">
                                        <span class="font-weight-bold">{{ product.name }}</span><br>
                                        <small>iRacing Series: {{ product.description }}</small>
                                    </div>
                                    <div class="col-sm-12 col-md-3 my-auto text-center text-md-right">
                                        <a href="{% url 'setup_detail' product.id %}" class="btn btn-outline-primary mr-2 my-2">
                                            Datapacks <i class="fas fa-arrow-alt-circle-right d-sm-none d-md-inline"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Tab for the Open wheelers -->
                <div class="tab-pane fade show" id="list-open_wheeler" role="tabpanel" aria-labelledby="list-open_wheeler">
                    <div class="row w-25 mx-auto">
                        <div class="col ">
                            <img src="{{ MEDIA_URL }}/series/open-wheeler.png" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain" alt="open_wheeler logo">
                        </div>
                    </div>
                    <hr>
                    <div class="accordion w-100" id="accordionExample">
                        {% for product in open_wheeler %}
                            <div class="card w-100 mb-1 mb-lg-0">                      
                                <div class="row">
                                    <div class="col-sm-12 col-md-3" style="max-height: 75px;">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-6 my-auto text-sm-center text-md-left">
                                        <span class="font-weight-bold">{{ product.name }}</span><br>
                                        <small>iRacing Series: {{ product.description }}</small>
                                    </div>
                                    <div class="col-sm-12 col-md-3 my-auto text-center text-md-right">
                                        <a href="{% url 'setup_detail' product.id %}" class="btn btn-outline-primary mr-2 my-2">
                                            Datapacks <i class="fas fa-arrow-alt-circle-right d-sm-none d-md-inline"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Tab for the Porsche Gt3 cup -->
                <div class="tab-pane fade show" id="list-porsche_gt3_cup" role="tabpanel" aria-labelledby="list-porsche_gt3_cup">
                    <div class="row w-25 mx-auto">
                        <div class="col ">
                            <img src="{{ MEDIA_URL }}/series/porsche-cup.jpg" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain" alt="porsche_gt3_cup logo">
                        </div>
                    </div>
                    <hr>
                    <div class="accordion w-100" id="accordionExample">
                        {% for product in porsche_gt3_cup %}
                            <div class="card w-100 mb-1 mb-lg-0">                      
                                <div class="row">
                                    <div class="col-sm-12 col-md-3" style="max-height: 75px;">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-6 my-auto text-sm-center text-md-left">
                                        <span class="font-weight-bold">{{ product.name }}</span><br>
                                        <small>iRacing Series: {{ product.description }}</small>
                                    </div>
                                    <div class="col-sm-12 col-md-3 my-auto text-center text-md-right">
                                        <a href="{% url 'setup_detail' product.id %}" class="btn btn-outline-primary mr-2 my-2">
                                            Datapacks <i class="fas fa-arrow-alt-circle-right d-sm-none d-md-inline"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Tab for the Mazda MX-5 cup -->
                <div class="tab-pane fade show" id="list-mazda-mx5" role="tabpanel" aria-labelledby="list-mazda-mx5">
                    <div class="row w-25 mx-auto">
                        <div class="col ">
                            <img src="{{ MEDIA_URL }}/series/global-mazda.jpg" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain" alt="mazda-mx5 logo">
                        </div>
                    </div>
                    <hr>
                    <div class="accordion w-100" id="accordionExample">
                        {% for product in mazda_mx5 %}
                            <div class="card w-100 mb-1 mb-lg-0">                      
                                <div class="row">
                                    <div class="col-sm-12 col-md-3" style="max-height: 75px;">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain"  alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-6 my-auto text-sm-center text-md-left">
                                        <span class="font-weight-bold">{{ product.name }}</span><br>
                                        <small>iRacing Series: {{ product.description }}</small>
                                    </div>
                                    <div class="col-sm-12 col-md-3 my-auto text-center text-md-right">
                                        <a href="{% url 'setup_detail' product.id %}" class="btn btn-outline-primary mr-2 my-2">
                                            Datapacks <i class="fas fa-arrow-alt-circle-right d-sm-none d-md-inline"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>



            </div>
        </div>
    </div>
    
    <hr class="w-75">
   
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super}}
<script type="text/javascript">
    $('#myList a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

    $(function(){
        $('select').on('change', function () {
            var url = $(this).val();
            if (url) {
                window.location = url;
            }
            return false;
        });
    });

</script>
{% endblock %}