<div class="toast custom-toast border-top-0" data-autohide="false">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Alert!</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr>                
            </div>
        </div>
        {% if not on_product_management %}
        <div class="row">
            <div class="col">
                <a href="{% url 'upgrade_to_gold' %}" class="btn btn-success btn-block">Upgrade to Gold Package</a>
            </div>
        </div>
        <div class="row">
            <div class="col mt-1">
                <a href="{% url 'view_cart' %}" class="btn btn-outline-danger btn-block">Cancel</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>